.segment {
  background-color: orchid; }

.meta-grid {
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  border-spacing: 0; }
  .meta-grid .header-row .header-cell {
    padding: 5px;
    text-align: left; }
    .meta-grid .header-row .header-cell i {
      cursor: pointer; }
  .meta-grid tr:hover {
    background-color: aqua; }
  .meta-grid .data-row .data-cell {
    border-top-style: solid;
    border-top-width: 1px;
    padding: 5px;
    cursor: pointer; }

body {
  font-family: Verdana; }
  body #root {
    max-width: 800px;
    margin: auto; }

.navi-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .navi-bar .navi-item {
    background-color: wheat;
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    margin: 10px; }
    .navi-bar .navi-item i {
      font-size: 50px; }
  .navi-bar .active {
    border-width: 5px; }
