.meta-grid {
  width: 100%;
  border-radius: 5px;
  border-collapse: collapse;
  border-spacing: 0;
  .header-row {
    .header-cell {
      padding: 5px;
      text-align: left;
      i {
        cursor: pointer;
      }
    }
  }
  tr:hover {
      background-color: aqua;
  }
  .data-row {
    .data-cell {
      border-top-style: solid;
      border-top-width: 1px;
      padding: 5px;
      cursor: pointer;
    }
  }


}
